.header
{
    width: 100px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: var(--z-fixed);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.nav__list
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link
{
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight:var(--font-weight-bold);
}